<?php

/**
 * Don't change this file.
 * The file was created by the installation and it will be overriden.
 */

require_once __DIR__.'/{{vendor_dir}}betastream/wp-configurator/src/WP_Configurator.php';

$config = array(
  // Need custom, environment-specific local constants? Define them here, follow the format below.
  'local'   => array(
    'constants' => array(
    ),
    'globals' => array(
      'table_prefix'    => 'wp_'
    )
  ),

	// We don't have a dev environment for this
  'dev'   => array(
    'constants' => array(
    ),
    'globals' => array(
      'table_prefix'    => 'wp_'
    )
  ),

  // Below are some defaults for Staging and Prodution environments
  'stg'   => array(
    'constants' => array(
    ),
    'globals' => array(
      'table_prefix'    => 'wp_'
    )
  ),
  'uat'  => array(
    'constants' => array(
      'AUTOMATIC_UPDATER_DISABLED' => TRUE,
      'WP_AUTO_UPDATE_CORE'        => 'minor', // true, false, 'minor'
      'IMAGE_EDIT_OVERWRITE'       => FALSE,
      'WP_POST_REVISIONS'          => 10, // number or `false`
      'AUTOSAVE_INTERVAL'          => 60,  // seconds

      'WP_DEBUG'               => FALSE,
      'WP_DEBUG_LOG'           => FALSE,
      'WP_DEBUG_DISPLAY'       => FALSE,
      'SCRIPT_DEBUG'           => FALSE,
      'SAVEQUERIES'            => FALSE,

      'CONCATENATE_SCRIPTS'    => TRUE,
      'WP_CACHE'               => FALSE,
      // If a host uses restrictive file permissions (e.g. 400) for all user files,
      // and refuses to access files which have group or world permissions set,
      // these definitions could solve the problem.
      'FS_CHMOD_DIR'           => ( 0755 & ~ umask() ),
      'FS_CHMOD_FILE'          => ( 0644 & ~ umask() ),

      'ALTERNATE_WP_CRON'      => FALSE,
      'DISABLE_WP_CRON'        => FALSE,
      'WP_CRON_LOCK_TIMEOUT'   => 60,  // seconds
      'EMPTY_TRASH_DAYS'       => 30, // days

      'WP_ALLOW_REPAIR'              => FALSE,
      'DO_NOT_UPGRADE_GLOBAL_TABLES' => TRUE,

      'WP_MEMORY_LIMIT'        => '128M',
      'WP_MAX_MEMORY_LIMIT'    => '256M', // increase or decrease memory in the administration area

      #'WP_SITEURL'             => '',
      #'WP_HOME'                => '',
      'WP_ALLOW_MULTISITE'     => FALSE,
      #'COOKIE_DOMAIN'          => '',
      #'NOBLOGREDIRECT'         => '',  // e.g. 'http://example.com'
      'FORCE_SSL_LOGIN'        => TRUE,
      'FORCE_SSL_ADMIN'        => TRUE,
      'WP_HTTP_BLOCK_EXTERNAL' => FALSE,
      #'WP_ACCESSIBLE_HOSTS'    => '', // e.g. 'api.wordpress.org,*.github.com'

      #'WP_CONTENT_DIR'      => '',  // no trailing slash, full paths only
      #'WP_CONTENT_URL'      => '',  // full url
      #'WP_PLUGIN_DIR'       => '',  // full path, no trailing slash (e.g. dirname(__FILE__) . '/blog/wp-content/plugins'))
      #'WP_PLUGIN_URL'       => '',  // full url, no trailing slash (e.g. 'http://example/blog/wp-content/plugins')
      // Available per default in MS, not set in single site install
      // Can be used in single site installs (as usual: at your own risk)
      #'UPLOADS'             => '',  // (If set, uploads folder, relative to ABSPATH) (for e.g.: /wp-content/uploads)

    ),
    'globals' => array(
      'table_prefix'    => 'wp_'
    )
  ),
  'prod'  => array(
    'constants' => array(
      'AUTOMATIC_UPDATER_DISABLED' => TRUE,
      'WP_AUTO_UPDATE_CORE'        => 'minor', // true, false, 'minor'
      'IMAGE_EDIT_OVERWRITE'       => FALSE,
      'WP_POST_REVISIONS'          => 10, // number or `false`
      'AUTOSAVE_INTERVAL'          => 60,  // seconds

      'WP_DEBUG'               => FALSE,
      'WP_DEBUG_LOG'           => FALSE,
      'WP_DEBUG_DISPLAY'       => FALSE,
      'SCRIPT_DEBUG'           => FALSE,
      'SAVEQUERIES'            => FALSE,

      'CONCATENATE_SCRIPTS'    => TRUE,
      'WP_CACHE'               => FALSE,
      // If a host uses restrictive file permissions (e.g. 400) for all user files,
      // and refuses to access files which have group or world permissions set,
      // these definitions could solve the problem.
      'FS_CHMOD_DIR'           => ( 0755 & ~ umask() ),
      'FS_CHMOD_FILE'          => ( 0644 & ~ umask() ),

      'ALTERNATE_WP_CRON'      => FALSE,
      'DISABLE_WP_CRON'        => FALSE,
      'WP_CRON_LOCK_TIMEOUT'   => 60,  // seconds
      'EMPTY_TRASH_DAYS'       => 30, // days

      'WP_ALLOW_REPAIR'              => FALSE,
      'DO_NOT_UPGRADE_GLOBAL_TABLES' => TRUE,

      'WP_MEMORY_LIMIT'        => '128M',
      'WP_MAX_MEMORY_LIMIT'    => '256M', // increase or decrease memory in the administration area

      #'WP_SITEURL'             => '',
      #'WP_HOME'                => '',
      'WP_ALLOW_MULTISITE'     => FALSE,
      #'COOKIE_DOMAIN'          => '',
      #'NOBLOGREDIRECT'         => '',  // e.g. 'http://example.com'
      'FORCE_SSL_LOGIN'        => TRUE,
      'FORCE_SSL_ADMIN'        => TRUE,
      'WP_HTTP_BLOCK_EXTERNAL' => FALSE,
      #'WP_ACCESSIBLE_HOSTS'    => '', // e.g. 'api.wordpress.org,*.github.com'

      #'WP_CONTENT_DIR'      => '',  // no trailing slash, full paths only
      #'WP_CONTENT_URL'      => '',  // full url
      #'WP_PLUGIN_DIR'       => '',  // full path, no trailing slash (e.g. dirname(__FILE__) . '/blog/wp-content/plugins'))
      #'WP_PLUGIN_URL'       => '',  // full url, no trailing slash (e.g. 'http://example/blog/wp-content/plugins')
      // Available per default in MS, not set in single site install
      // Can be used in single site installs (as usual: at your own risk)
      #'UPLOADS'             => '',  // (If set, uploads folder, relative to ABSPATH) (for e.g.: /wp-content/uploads)

    ),
    'globals' => array(
      'table_prefix'    => 'wp_'
    )
  )
);

if (!defined('ABSPATH'))
  define( 'ABSPATH', __DIR__.'/' );

// Sets the configuration
$conf = new \Betastream\WP_Configurator\WP_Configurator( $config );

// You can put regular, non-environment-specific constants here
//define('WPLANG',                'en_US');

if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https')
  $_SERVER['HTTPS'] = 'on';

require_once ABSPATH . 'wp-settings.php';
